.grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 925px 925px;
    grid-template-rows: 434px 434px;
    row-gap: 20px;
    column-gap: 20px;
    &_style{
        
        grid-column: 1;
        grid-row: 2;
        display: inline-flex;
        align-items: center;
        background-color: #f7e0d5;
        max-width: 924px;
        max-height: 434px;
        img{
            max-width: 557px;
            max-height: 434px;
            float: right;
            margin-left: 40px;
            margin-right: 0;
        }
        .grid_choose_text{
            margin-right: -80px;
            margin-left: 50px;
        }
        .grid_choose_text_title{
            max-width: 382px;
            white-space: nowrap;
        }
    }

    &_choose{
        padding-right: 140px;
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(270deg, rgba(241, 239, 240, 0) 0%, #F1F0F0 10.79%, #F3F0EF 98.67%);
        max-width: 924px;
        max-height: 434px;
        img{
            max-width: 448px;
            max-height: 434px;
            margin-right: 90px;
        }
        &_text{
            z-index: 2;
            &_title{
                font-weight: bold;
                font-family: Oswald;
                font-size: 48px;
                line-height: 62px;
                text-align: left;
                text-transform: uppercase;
                max-width: 230px;
            }
            &_subtitle{
                font-family: Roboto Light;
                font-size: 22px;
                line-height: 37px;
                letter-spacing: 0.01em;
                text-align: left;
            }
            &_button{
                a{
                margin-top: 25px;
                font-family: Oswald;
                font-size: 18px;
                line-height: 26.68px;
                letter-spacing: 0.5px;
                font-weight: bold;
                text-align: center;
                border: 2px black solid;
                background-color: transparent;
                text-transform: uppercase;
                width: 175px;
                height: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                }
        }
        }
    }
    
    &_off{
        padding-right: 0;
        position: relative;
        grid-row: 1/2;
        grid-column: 2;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(90deg, #E0DED3 0%, #E0DDD5 86.82%, #E0DDD5 100%);
        width: 895px;
        height: 888px;
        img{
            float: right;
            max-width: 839px;
            max-height: 898px;
            margin-left: 70px;
        }
        .grid_choose_text{
            position: absolute;
            bottom: 60px;
            left: 90px;
        }
        .grid_choose_text_title{
            font-family: Oswald;
            font-size: 96px;
            line-height: 110px;
            text-align: left;
            max-width: 365px;
        }
    }
}